doctype html
html
    include ./includes/headers/index.jade
        title Articles
    body
        if isAuthenticated
          include ./includes/top/loggedin.jade
        else
          include ./includes/top/top.jade  
          .paralax
        .container
            .main
              h1 working on Articles...
    include ./includes/bot/bottom.jade
