html
body
h1 Login to your existing account
form(action="/login", method="post")
        div.input
            span.label Username
            input(type="text", name="username")
            span.label Password
            input(type="text", name="password")
        div.actions
            input(type="submit", value="Login")
a(href='/', class='back-button') Home
