.menu-holder
 ul(class='menu')
   li
     a(href='/', class='menu-button') Home
   li
     a(href='/articles' , class='menu-button') Articles
   li
     a(href='/about' , class='menu-button') About
   li
     a(href='/register' , class='menu-button') Register
   li
     a(href='/login' , class='menu-button') Login
